
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Cryptohub - Cryptocurrency HTML Template">
    <meta name="keywords" content="bitcoin, bitcoin landing, blockchain, cryptocurrency, Cryptocurrency advisor, ICO Agency, ICO Consulting, ico landing, ico template, ico token, ico website">
    <!-- SITE TITLE -->
    <title>Home</title>
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="static/css/3b2cb4cf8dbc4b7e96dac3964b62ba2a.css" rel="stylesheet">
    <link href="static/css/45cea753ee254967923a2446a09d1f6c.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/owl.theme.css">
    <!--slicknav Css-->
    <link rel="stylesheet" href="static/css/slicknav.css">
    <!-- MAGNIFIC CSS -->
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="static/css/animate.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" href="static/css/popup.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- 引入 ECharts 文件 -->
    <script src="static/js/echarts.min.js"></script>
    <script src="static/js/echarts-wordcloud.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@3"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@4"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.5/nouislider.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.5/nouislider.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="static/js/html5shiv.min.js"></script>
  <script src="static/js/respond.min.js"></script>
<![endif]-->
</head>

<body data-spy="scroll" data-offset="80">

    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- END PRELOADER -->

    <!-- START NAVBAR -->
    <div id="navigation" class="fixed-top navbar-light bg-faded site-navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="site-logo">
                        <a class="navbar-logo" href="#">Pen-Pal Report</a>
                    </div>
                </div>
                <!--- END Col -->
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="header_right">
                        <nav id="main-menu" class="ml-auto">
                            <ul>
                                <li><a href="#grouping">用户群体</a></li>
                            </ul>
                        </nav>
                        <div id="mobile_menu"></div>
                    </div>
                </div>
                <!--- END Col -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END NAVBAR -->
    <!-- START HOME -->
    <section id="home" class="home_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-xs-12">
                    <div class="hero-text">
                        <h2>关于Pen-Pal Report</h2>
                        <p>Hi :) Pen-pal Report爬取了热门的四个多语言笔友网站数据，并对其进行整理分析。本报告主要呈现了用户性别、地区、母语、目标语言、目的等因素的内在关系，我们希望通过阅读此报告，能提供给外语学习者多元化的学习和交友沟通渠道。</p>

                    </div>
                </div>
                <!--- END COL -->
                <div class="col-lg-5 col-sm-12 col-xs-12 text-center">
                    <div class="buy-icons">
                        <div class="ca-starts-in">
                            <img src="/static/images/friends.svg" alt="">
                            <h3>报告内容</h3>
                            <p>本报告分为简介、数据分析、补充内容三部分</p>

                            <!-- <a href="#" class="btn_one">更多</a> -->
                        </div>

                    </div>
                </div>
                <!--- END COL -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END  HOME -->


    <section id="grouping" class="why_choose_us section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2>用户群体筛选与比较</h2>
                <span></span>
                <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>						 -->
            </div>
            <div class="row text-center">

            </div>
            <!-- END CONTAINER -->
            <div id="main" style="width: 100%;height:400px;">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="filter" role="tabpanel" aria-labelledby="gender-tab">
                        <style>
    /* .noUi-tooltip {
    display: none;
  }
  .noUi-active .noUi-tooltip {
    display: block;
  } */
    
    #slider-handles {
        margin-top: 40px;
    }
    
    label {
        display: inline-block;
    }
</style>

<div id="app">
    <label>
        <vue-multiselect v-model="gender_value" :options="gender_options" placeholder="选择用户性别" :multiple="true" @input="getUserData"></vue-multiselect>
    </label>
    <label>
        <vue-multiselect v-model="area_value" :options="area_options" placeholder="选择用户所在地区" :multiple="true" @input="getUserData"></vue-multiselect>
    </label>
    <label>
        <vue-multiselect v-model="speak_lan_value" :options="speak_lan_options" placeholder="用户擅长语言" :multiple="true" @input="getUserData"></vue-multiselect>
    </label>
    <label>
        <vue-multiselect v-model="learn_lan_value" :options="learn_lan_options" placeholder="正在学习的语言" :multiple="true" @input="getUserData"></vue-multiselect>
    </label>
    <div style="text-align: center">
        <div id="slider-handles"></div>
        <hr />
        <div id="vis"></div>
    </div>

</div>

<script>
    var app = new Vue({
        el: "#app",
        components: {
            "vue-multiselect": VueMultiselect.default
        },
        data: {
            groups: ['group1'],
            gender_value: ['male', 'female'],
            gender_options: [],
            area_value: [],
            area_options: [],
            speak_lan_value: [],
            speak_lan_options: [],
            learn_lan_value: [],
            learn_lan_options: [],
            ages: {
                max: 100,
                min: 0
            },
            slider: null
        },
        methods: {
            updateSlider() {
                this.slider.noUiSlider.updateOptions({
                    range: {
                        min: this.ages.min,
                        max: this.ages.max
                    },
                    start: [this.ages.min, this.ages.max]
                });
            },
            getUserData() {
                handles = document.getElementById("slider-handles");
                handles.setAttribute("style", "z-index: -1")
                var that = this;
                selected_age_range = this.slider.noUiSlider.get();
                axios
                    .get("/filter", {
                        params: {
                            groups: that.groups,
                            genders: that.gender_value,
                            user_areas: that.area_value,
                            speak_lans: that.speak_lan_value,
                            learn_lans: that.learn_lan_value,
                            age_min: selected_age_range[0],
                            age_max: selected_age_range[1]
                        }
                    })
                    .then(function(response) {
                        that.gender_options = response.data.genders;
                        that.area_options = response.data.user_areas;
                        that.speak_lan_options = response.data.speak_lans;
                        that.learn_lan_options = response.data.learn_lans;
                        vegaEmbed("#vis", response.data.figure, {
                            mode: "vega-lite"
                        }).then(function(data) {
                            data.view.addEventListener("click", that.onViewClicked);
                        });
                    });
                handles.setAttribute("style", "z-index: 0")
            },
            onViewClicked(event, item) {
                if (item && typeof item != "undefined") console.log(item.datum);
            }
        },
        mounted() {
            var that = this;
            this.slider = document.getElementById("slider-handles");

            noUiSlider.create(this.slider, {
                start: [this.ages.min, this.ages.max],
                range: {
                    min: [this.ages.min],
                    max: [this.ages.max]
                },
                tooltips: true,
                format: {
                    from: function(value) {
                        return parseInt(value);
                    },
                    to: function(value) {
                        return parseInt(value);
                    }
                }
            });
            this.slider.noUiSlider.on("change", function() {
                that.getUserData();
            });
            this.getUserData();
        }
    });
</script>
                    </div>
                </div>
            </div>

    </section>


    <!-- Latest jQuery -->
    <script src="static/js/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- modernizer JS -->
    <script src="static/js/modernizr-2.8.3.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="static/js/owl.carousel.min.js"></script>
    <!-- jquery counterup -->
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/countdown.js"></script>
    <!-- jquery nav -->
    <script src="static/js/jquery.nav.js"></script>
    <!-- jquery.slicknav -->
    <script src="static/js/jquery.slicknav.js"></script>
    <!-- jquery.smooth-scroll -->
    <script src="static/js/smooth-scroll.js"></script>
    <!-- magnific-popup js -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <!-- scrolltopcontrol js -->
    <script src="static/js/scrolltopcontrol.js"></script>
    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="static/js/wow.min.js"></script>
    <!-- jquery leanModal min js -->
    <script src="static/js/jquery.leanmodal.min.js"></script>
    <!-- login js -->
    <script src="static/js/login.js"></script>
    <!-- scripts js -->
    <script src="static/js/scripts.js"></script>
</body>

</html>
